[Unit]
Description=sashiki MySQL instance %i
After=network.target zfs-mount.service

[Service]
Type=simple
User=mysql
Group=mysql
# <branch>.env は sashikid(User=sashiki)が /run/sashiki に書く(RuntimeDirectory、#177)。
EnvironmentFile=/run/sashiki/%i.env
ExecStart=/usr/sbin/mysqld \
  --datadir=${DATADIR} \
  --port=${PORT} \
  --socket=/tmp/mysql-%i.sock \
  --pid-file=/tmp/mysql-%i.pid \
  --log-error=/var/log/sashiki/%i.err \
  --innodb-buffer-pool-size=256M \
  --skip-mysqlx
Restart=no
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
